* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
}

.login_form,
.signup_form {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.btn {
  outline: none;
  box-shadow: none;
}

div#table_id_wrapper {
  margin-top: 50px;
}
